[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "~=2.2.2"
pandas = "~=2.2.0"
numpy = "~=1.26.4"
gensim = "~=4.3.2"
networkx = "~=2.8.8"
matplotlib = "*"
node2vec = "~=0.4.6"
seaborn = "*"
scikit-learn = "*"
ipykernel = "*"
tabulate = "*"
PyYAML = "~=6.0.1"
pydantic = "~=2.7.4"
tqdm = "*"

[dev-packages]
ruff = "*"
black = "*"
isort = "*"
mypy = "*"
ipywidgets = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
